<header class="header-area header-sticky">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <nav class="main-nav">
          <!-- ***** Logo Start ***** -->
          <a href="index.html" class="logo">
            <h1>TamDeğer</h1>
            <p class="subtitle">Eğitim Kurumları</p>
          </a>
          <!-- ***** Logo End ***** -->
          <!-- ***** Menu Start ***** -->
          <ul class="nav">
            <li class="scroll-to-section">
              <a href="index.html">Anasayfa</a>
            </li>
            <li class="scroll-to-section">
              <a href="denemeler.html">Denemeler</a>
            </li>
            <li class="scroll-to-section">
              <a href="duyurular.html">Duyurular</a>
            </li>
            <li class="scroll-to-section">
              <a href="etkinlikler.html">Etkinlikler</a>
            </li>
            <li class="scroll-to-section">
              <a href="contact.html">İletişim</a>
            </li>
          </ul>
          <li class="scroll-to-section special-button">
            <a
              href="https://ais.osym.gov.tr/Yetki/Giris?ReturnUrl=%2FOSYSTERCIH%2F2024%2F1%2FBasvuruKayit"
              target="_blank"
            >
              <img
                src="assets/images/osym.png"
                alt="ÖSYM Logo"
                class="button-logo"
              />
              ÖSYM Aday İşlemleri
            </a>
          </li>
          <a class="menu-trigger">
            <span>Menu</span>
          </a>
          <!-- ***** Menu End ***** -->
        </nav>
      </div>
    </div>
  </div>
</header>
